
@{
    ViewBag.Title = "メールアカウント情報登録";

    /* データベース */
    
}

<h2>メールアカウント情報登録</h2>
<h1>モデル：<strong>@ViewBag.hello    </strong></h1>
<form action="" method="post">
    <p>氏名(必須)　　 ：<input type="text" name="formName" /></p>
    <p>ふりがな　　　：<input type="text" name="formName" /></p>
    <p>アドレス(必須) ：<input type="text" name="formName" /></p>
    <p>パスワード　　：<input type="text" name="formName" /></p>
    <p>転送先　　　　：<input type="text" name="formName" /></p>

    <p><input type="submit" value="登録"></p>

</form>

